// _search-bar.scss

div {
  .search-bar {
    text-align: center;
  }
  .form-group {
    width: 30%;
    padding: 10px;
  }
  .dependency-list {
    padding-bottom: 10px;
  }
  .panel {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

button#search-button {
    margin-bottom: 10px;
}

button#error-search-button {
    margin-bottom: 52px;
}

input#formInlineSearch {
  width: 100%;
}

a.list-group-item {
  padding: 3px 3px 3px 15px;
}

span.dependencies-list{
  padding-bottom: 0px;
}

i.fa{
  //padding-left: 10px;
  float: right;
}

h1 {
  text-align: center;
}