// _search-bar.scss

div.search-bar {
  text-align: center;
}

div.form-group {
  width: 40%;
  padding: 10px;
}

input#formInlineSearch {
  width: 100%;
}

a.list-group-item {
  padding: 3px 3px 3px 15px;
}

span.dependencies-list{
  padding-bottom: 0px;
}
